<!doctype html>
<html>
 	<head>
	 	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>{{{titre}}}</title>
	    
	    <link href="images/ico.jpg" rel="icon" />
	    
	    <script src="js/jquery.js"></script>
	    
	    <link href="css/Style.css" rel="stylesheet" />
		<script src="js/script.js"></script>
		
		<script src="js/roundies.js"></script>
		<script src="js/scriptRoundies.js"></script>
	    
		<link href="css/bootstrap-theme.css" rel="stylesheet" />
		<link href="css/bootstrap.css" rel="stylesheet" />
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-tab.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
	  	<link href="cap_conduite_theme/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
	  	<script src="cap_conduite_theme/js/jquery-ui-1.10.4.custom.js"></script>
	  	
	  	<link href="css/li-scroller.css" rel="stylesheet" />
	  	<script src="js/jquery.li-scroller.1.0.js"></script>
	</head>
 	<body>
  		<div class="page" style="overflow:hidden">
  			<div class="banniere">
  				{{> banniere }}
  			</div>
  			
  			<div class="container-fluid ui-widget-content">
  				{{> navigation }}
			</div>
			
			{{> defilbar }}
			
  			<div class="contenu ui-widget ui-widget-content">
  				<div class="row ">
  					{{> contact }}
  					{{{body}}}
  				</div>
  				<br/>
	  		</div>
	  		
	  		<div class="info">
	  			{{> info }}
	  		</div>
		</div>
  	</body>
</html>