@CHARSET "UTF-8";

/* definition des generales des balises */
body
{
	background: #333333 !important;
}

/* definition de la page d'acceuil (page de structure generale) */


.banniere
{
	position: relative;
	height: 200px;
	
	padding-top: 35px;
	color: white;
	background: black;
	overflow: hidden;
}

.titre1
{
	position: absolute;
	display: block;
	left: -72%;
	top: 10px;
}

.titre2
{
	position: absolute;
	display: block;
	left: 28%;
	top: 40px;
}

.logo1
{
	position: absolute;
/* 	background: black; */
	text-align: center;
/* 	color: white; */
	left: 1%;
	top: 200px;
	width: 140px;
	height: 30px;
}

.container-fluid
{
	padding: 0px 0px 0px 0px !important;
}

.navbar-collapse.collapse {
	text-align: center;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-nav > li > a {
  padding-top: 2px !important;
  padding-bottom: 4px !important;
}
.navbar-nav > li > a > span{
  font-size: 1.4em;
  font-family: Georgia;
}

#nav_bar{
	padding: 0px 0px 0px 0px !important;
	height: 56px !important;
	border: 1px solid black;
}

#menu{
	background: #333333;
	display: inline-block;
    float: none !important;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
	border: 1px solid black;
}

#navbar-header{
	position: absolute;
	height: 56px;
	width: 16%;
	color: #60d101;
	padding-left: 5px;
	border: 1px solid black;
	font-family: Georgia;
	font-weight: bold;
}

#navbar-footer{
	position: relative;
	padding-top: 9px;
	height: 56px;
/* 	width: 16%; */
	margin-left: -16%;
/* 	border: 1px solid black; */
	color: #60d101;
	font-family: Georgia;
	font-weight: bold;
}

#submenu{
	display: none;
	width: 250px;
	color: white !important;
}

#submenu li a{
	color: #60d101;
}
#submenu li a:hover{
	color: #333333;
}

.contenu
{
/* 	background: #333333 !important; */
/* 	position: relative; */
	padding-top: 20px;
	text-align: center;
}

.contenu div
{
	position: relative;
/* 	left: 50%; */
/* 	margin-left: -25%; */
/* 	width: 50%; */
/* 	height: 400px; */
}

.decalage_gauche{
	left: -67px;
}

.form-input{
	color: black;
	font-family: Georgia !important;
}

.form-btn{
	font-family: Georgia !important;
}

.panel-heading_me
{
	background-color: #60d101;
	color: #333;
	padding: 10px 15px;
	border-bottom: 1px solid black;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.info
{
	position: relative;
	color: white;
	background: black;
	height: 75px;
	text-align: center;
	font-family: Tahoma;
	font-size: small;
}

.info span
{
	position: relative;
	top: 60%;
}

.info span a
{
	color: #60d101;
}

/* definition des infobulles */
span#infoBulle{
	position:absolute;
    margin-top:-130px;
    margin-left:-55px;
    height: 80px;
    width: 230px;
    color: #140C6B;
    background: white; 
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
	z-index: 1;
}

/* Agencement des paragraphe a l'interieur des page */
.paragraphe
{
	background: #333333;
}

/* page d'ACCEUIL */
#accueil_paragraphe_1
{
/* 	height: 125px; */
	font-size: larger;
	
/* 	background: purple; */
}
#accueil_paragraphe_1 span
{
	position: relative;
	top: 10%;
}

#presta_paragraphe_1
{
		
}
#presta_paragraphe_1 span
{
		
}

.plan
{
	color: #0000FF;
	text-align: left;;
}

#contact_paragraphe_1 span
{
		
}