@CHARSET "UTF-8";

/* definition des generales des balises */
body
{
	background: #333333 !important;
}

/* definition de la page d'acceuil (page de structure generale) */
.page
{
	color: #ffffff;
	font-family: Georgia !important;
	text-align: center !important;
	font-size: 1.2em;
}

.banniere
{
	background: black;
}

.img-banniere
{
	width: 50%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.contenu
{
	padding-top: 1%;
}

.info
{
	background: black;
	padding-top: 2%;
	padding-bottom: 1%;
	font-family: Tahoma;
	font-size: small;
}

.info span
{
	position: relative;
	top: 60%;
}

.info span a
{
	color: #60d101;
}


.img-background{
	border: 1px solid #4a4a4a;
	background: #000000 url("/images/ui-bg_fine-grain_55_000000_60x60.png") 50% 50% repeat;
}

.navigation-gauche{
	font-size: 1.0em;
	color: #60d101;
	font-weight: bold;
/* 	text-align: left; */
}

.navigation-centre{
/* 	position: relative; */
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #333333;
	border-radius: 5px 5px 5px 5px;
}

/* .test */
/* { */
/* 	margin-left: 8% !important; */
/* 	margin-right: 8% !important; */
/* } */

.navigation-droite{
	font-size: 1.0em;
	color: #60d101;
	font-weight: bold;
/* 	text-align: right; */
}

.decalage_gauche{
	left: -67px;
}

.form-input{
	color: black;
	font-family: Georgia !important;
}

.form-btn{
	font-family: Georgia !important;
}

.panel-heading_me
{
	background-color: #60d101;
	color: #333;
	padding: 10px 15px;
	border-bottom: 1px solid black;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#row_envoyer_mail{
	display: none;
}

.texte_important{
	color: #60d101;
	font-style : italic;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.5em;
}

.texte_important small{
	color: #2176A5;
	font-style : italic;
	font-weight: normal;
	font-size: 1em;
}

.texte_semi_important{
	color: #60d101;
/* 	font-style : italic; */
/* 	font-weight: bold; */
/* 	font-size: 1.2em; */
/* 	line-height: 1.5em; */
}



/* definition des infobulles */
span#infoBulle{
	position:absolute;
    margin-top:-130px;
    margin-left:-55px;
    height: 80px;
    width: 230px;
    color: #140C6B;
    background: white; 
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
	z-index: 1;
}