<ul id="defilbar">
    <li>
    	<span>
    		L’auto école Cap Conduite est située en plein cœur des chartreux 128 rue du chartreux dans le 4ème arrondissement de Marseille.
    	</span>
	</li>
    <li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		128, rue du chartreux 13004 Marseille
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		Métro : Sortie Chartreux, Ligne 1
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		Tél : 06 56 34 34 03
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
</ul>