<div class="" id="defilbar">
	<span class=""> 
		L’auto école Cap Conduite est située en plein cœur des chartreux 128 rue du chartreux dans
		le 4ème arrondissement de Marseille.
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		128, rue du chartreux 13004 Marseille 
		Métro : Sortie Chartreux, Ligne 1
		 Tél : 06 56 34 34 03
	</span>
</div>