

<div class="collapse navbar-collapse" role="navigation" id="nav_bar">
	<ul class="nav navbar-nav" id="menu">
		<li class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<a href="/accueil"><span class="ui-button-text">{{t 'bouton_acceuil'}}</span></a>
		</li>
		<li class="dropdown button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="ui-button-text">
					{{t 'bouton_auto'}}
					<b class="caret"></b>
				</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			</ul>
		</li>
		<li class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<a href="/localiser"><span class="ui-button-text">{{t 'bouton_localiser'}}</span></a>
		</li>
		<li class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<a href="/contact"><span class="ui-button-text">{{t 'bouton_contact'}}</span></a>
		</li>
	</ul>
</div>

