<div class="row ">
  <div class="col-md-offset-2 col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/208.jpg" alt="Voiture Cap Conduite" >
      <div class="caption">
        <h2 style="">PERMIS B</h2></br>
        <p>
        	Que le permis de conduire soit pour vous une nécessité professionnelle ou une simple envie, nos auto-écoles parisiennes vous assurent une formation de qualité reposant sur une expérience solide, dans une ambiance décontractée et moderne. N’attendez plus et découvrez nos différentes formations autos aux tarifs très attractifs.
        </p>
        </br>
        <ul style="">
        	<li><span>16 ans dans le cadre de l’apprentissage anticipé de la conduite</span></li>
        	<li><span>17 ans 1/2 pour l’épreuve théorique ETG</span></li>
        	<li><span>18 ans pour la pratique</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/9659597_web.jpg" alt="Voiture Cap Conduite" style="height:200px;">
      <div class="caption">
        <h2 style="">PERMIS AAC</h2></br>
        <p>
        	Vous avez 16 ans révolus et souhaitez apprendre à conduire ? Cette formation efficace d'apprentissage anticipé de la conduite automobile (AAC) est faite pour vous. Après avoir obtenu votre code et assisté à vos leçons de conduite, partez sur la route avec votre accompagnateur pour acquérir de l’expérience dans le but de présenter l’examen du permis de conduire sereinement, dès vos 18 ans.
        </p>
        </br>
        <ul style="">
        	<li><span>16 ans dans le cadre de l’apprentissage anticipé de la conduite</span></li>
        	<li><span>17 ans 1/2 pour l’épreuve théorique ETG</span></li>
        	<li><span>18 ans pour la pratique</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/formation.jpg" alt="Voiture Cap Conduite">
      <div class="caption" >
        <h2 style="">PERFECTIONNE-</br>MENT</h2></br>
        <p>
        	Je sais pas c'est quoi mais je suis sure que si je demande a Adel il me le dira!! hehe
        </p>
        </br>
        <ul style="">
        	<li><span>Les points essentiels</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-9 decalage_gauche">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">Cap Conduite<small>, votre auto école à Marseille</small></h2>
		  	</div>
			<div class="panel-body">
	        	Que la voiture suscite chez vous fascination ou pour les professionnels une machine roulante transportant les individus d’un point à un autre, le permis est un cap, un signe social, un gain d’autonomie.
				Nous vous proposons une formation de qualité par une équipe pédagogique réactive vous garantissant une expérience personnelle et réfléchie de la conduite. Découvrez nos différentes formations.
		    </div>
		</div>
	</div>
</div>
</br>