<div class="row">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">Cap Conduite<small>, Votre Auto Ecole à Marseille</small></h2>
		  	</div>
			<div class="panel-body"><br/>
	        	C'est une équipe de professionnels passionés et animés par l'envie de transmettre et enseigner la conduite au sens large du terme.<br/>
	        	<u>Conduire :</u> c'est être libre, autonome, prendre du plaisir sur la route ;<br/>
	        	Mais c'est aussi et surtout être responsable et sécuritaire.
	        	<br/><br/>
	        	Notre équipe est là pour vous accompagner vers ce nouveau Cap de votre vie.<br/>
	        	<span class="texte_important">"<strong>Cap Conduite :</strong> <small>une formation de qualité pour une conduite plus sure.</small>"</span>
	        	<br/><br/>
		    </div>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-1 col-xs-10 col-sm-10 col-md-12 col-lg-10" style="padding-left:0px; padding-right:0px;">
	  <div class="col-md-offset-0 col-md-4">
	    <div class="thumbnail">
	      <a href="/permis-b"><img src="images/clio4noiretoile_opt.jpg" alt="Voiture Cap Conduite"></a><br/>
	      <div class="caption">
	        <h2 style="">PERMIS B</h2><br/>
	        <p>
	        	Que le permis de conduire soit pour vous une nécessité professionnelle ou une simple envie, 
	        	Cap Conduite vous assure une formation de qualité reposant sur une expérience solide, 
	        	dans une ambiance décontractée et moderne. 
	        	N’attendez plus et découvrez nos différentes formations autos aux tarifs très attractifs.
	        </p>
	        <br/>
	        <ul style="">
	        	<li><span>17 ans 1/2 pour l’épreuve théorique ETG</span></li>
	        	<li><span>18 ans pour la pratique</span></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="/permis-aac"><img src="images/AAC_opt.jpg" alt="Permis Accompagné"></a><br/>
	      <div class="caption">
	        <h2 style="">PERMIS AAC</h2><br/>
	        <p>
	        	Vous avez 16 ans révolus et souhaitez apprendre à conduire ? Cette formation efficace d'Apprentissage Anticipé de la Conduite
	        	 automobile (AAC) est faite pour vous. Après avoir obtenu votre code et assisté à vos leçons de conduite, 
	        	 partez sur la route avec votre accompagnateur pour acquérir de l’expérience dans le but de présenter 
	        	 l’examen du permis de conduire sereinement, dès vos 18 ans.
	        </p>
	        <br/>
	        <ul style="">
	        	<li><span>Accessible dès l'âge de 16 ans</span></li>
	        	<li><span>Facilite l'acquisition du permis B à 18 ans</span></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  
	  <div class="col-md-4 ">
	    <div class="thumbnail">
	      <a href="/recuperation"><img src="images/rattrapage_01_opt.jpg" alt="Récupération de points"></a><br/>
	      <div class="caption" >
	        <h2 style=""> RECUPERATION <br/>DE POINTS </h2><br/>
	        <p>
	        	N’attendez pas de perdre tous les points de votre permis de conduire pour les récupérer. 
	        	Pour parer à un permis de conduire fragile, Cap Conduite vous propose des stages de récupération de points de permis de conduire partout en France. 
	        	Evitez la suspension ou l’annulation de votre permis. Réagissez et faites un stage de récupération de points avant qu'il ne soit trop tard.
	        </p>
	        <br/>
	        <ul style="">
	        	<li><span> + 4 points sur votre permis </span></li>
	        	<li><span> Formation sans examen </span></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  
	  <!--<div class="col-md-3 decalage_gauche">
	    <div class="thumbnail">
	      <a href="/permis-bsr"><img src="images/bsr.png" alt="Permis BSR Cap Conduite" style="height:200px; width:65%;"></a>
	      <div class="caption" >
	        <h2 style=""> PERMIS BSR </h2><br/>
	        <p>
	        	Vous avez 14 ans révolus, et souhaitez conduire votre nouveau scooter. Faites nous confiance pour une formation BSR efficace, 
	        	et repartez avec le précieux sésame pour circuler en toute liberté dans Paris.
				<br/><br/>
				Chaque samedi matin, un stage regroupant plateau et circulation vous sera proposé, dans le but de vous dispenser une formation de qualité.
	        </p>
	        <br/>
	        <ul style="">
	        	<li><span>A partir de 14 ans</span></li>
	        </ul>
	      </div>
	    </div>
	  </div>-->
  </div>
</div>
				
<div class="row">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1  col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<div class="panel panel-body" style="padding:5px; padding-right:20px;">
		  	<h2 class=""> PERFECTIONNEMENT </h2>
		  	<br/>
		  	<div class="col-md-offset-0 col-md-4 "><br/>
				<a href="/perfectionnement"><img src="images/perfectionnement_02_opt.jpg" alt="Perfectionnement Cap Conduite"></a>
			</div>
			<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-0 col-sm-10 col-md-7 col-lg-8">
			  	<p style="text-align: justify;">
		        	Vous avez le permis et vous n'avez pas conduit un véhicule depuis un moment. 
		        	Vous rencontrez quelques difficultés en conduite (stationnement, autoroute, circulation en ville).
		        	Vous passez actuellement votre permis B et votre auto-école est débordée et vous souhaitez prendre des leçons complémentaires.
		        	Les leçons de perfectionnement de Cap Conduite sont la pour répondre à vos besoins. <br/><small><i> N'hésitez pas à nous contacter pour plus de renseignements.</small> 
		        </p>
		        
		        <ul style="">
		        	<li><span>A tout moment après l'obtention du permis B</span></li>
		        	<li><span>Pour les permis étrangers autorisés à circuler sur le territoire français</span></li>
		        	<li><span>Pour les candidats du permis B inscrit dans une autre auto-école et en possession de leur livret d'apprentissage</span></li>
		        </ul><br/>
		   </div>
	    </div>
	</div>
</div>
<br/>