<div class="row ">
  <div class="col-md-offset-2 col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/208.jpg" alt="Voiture Cap Conduite" >
      <div class="caption">
        <h2 style="">PERMIS B</h2></br>
        <p>
        	Que le permis de conduire soit pour vous une nécessité professionnelle ou une simple envie, 
        	Cap Conduite vous assure une formation de qualité reposant sur une expérience solide, 
        	dans une ambiance décontractée et moderne. 
        	N’attendez plus et découvrez nos différentes formations autos aux tarifs très attractifs.
        </p>
        </br>
        <ul style="">
        	<li><span>17 ans 1/2 pour l’épreuve théorique ETG</span></li>
        	<li><span>18 ans pour la pratique</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/9659597_web.jpg" alt="Voiture Cap Conduite" style="height:200px;">
      <div class="caption">
        <h2 style="">PERMIS AAC</h2></br>
        <p>
        	Vous avez 16 ans révolus et souhaitez apprendre à conduire ? Cette formation efficace d'Apprentissage Anticipé de la Conduite
        	 automobile (AAC) est faite pour vous. Après avoir obtenu votre code et assisté à vos leçons de conduite, 
        	 partez sur la route avec votre accompagnateur pour acquérir de l’expérience dans le but de présenter 
        	 l’examen du permis de conduire sereinement, dès vos 18 ans.
        </p>
        </br>
        <ul style="">
        	<li><span>Accessible dès l'âge de 16 ans</span></li>
        	<li><span>Facilite l'acquisition du permis B à 18 ans</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 decalage_gauche">
    <div class="thumbnail">
      <img src="images/formation.jpg" alt="Voiture Cap Conduite">
      <div class="caption" >
        <h2 style="">PERFECTIONNE-<br/>MENT</h2></br>
        <p>
        	Vous avez le permis et vous n'avez pas conduit un véhicule depuis un moment. 
        	Vous rencontrez quelques difficultés en conduite (stationnement, autoroute, circulation en ville).
        	Vous passez actuellement votre permis B et votre auto-école est débordée et vous souhaitez prendre des leçons complémentaires :<br/>
        	Les leçons de perfectionnement de Cap Conduite sont la pour répondre à vos besoins <br/><i> n'hésitez pas à nous contacter pour plus de renseignements. 
        </p>
        </br>
        <ul style="">
        	<li><span>A tout moment après l'obtention du permis B</span></li>
        	<li><span>Pour les permis étrangers autorisés à circuler sur le territoire français</span></li>
        	<li><span>Pour les candidats du permis B inscrit dans une autre auto-école et en possession de leur livret d'apprentissage</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-9 decalage_gauche">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">Cap Conduite<small>, votre auto école à Marseille</small></h2>
		  	</div>
			<div class="panel-body">
	        	Que la voiture suscite chez vous fascination ou pour les professionnels une machine roulante transportant les individus d’un point à un autre, le permis est un cap, un signe social, un gain d’autonomie.
				Nous vous proposons une formation de qualité par une équipe pédagogique réactive vous garantissant une expérience personnelle et réfléchie de la conduite. Découvrez nos différentes formations.
		    </div>
		</div>
	</div>
</div>
</br>