<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-xs-8 col-sm-8 col-md-8 col-lg-7">
		<ul class="nav nav-tabs ui-menu ui-widget-content ui-corner-top" role="tablist" id="tarif_tab">
			<li class="active">
				<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
			</li>
			<!--<li>
			<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
		</li>
		<li>
			<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
		</li>-->
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tarif">
			<div class="panel panel-body" id="panel_tab_tarif">
			<br/>
				<div class="row">
					<h2 class="">A la carte</h2>
					<br/>
					<p>
			        	Evaluation initiale : <span class="texte_important">30 € TTC</span>
			        <p>
					<p>
			        	Leçon de conduite (1h30) : <span class="texte_important">59 € TTC</span>
			        <p>
			        <p>
			        	Pack 10 leçons : <span class="texte_important">580 € TTC</span>
			        <p>
			        <p>
			        	Pack d'inscription (si inscrit en préfecture) : <span class="texte_important">80 € TTC</span>
			        <p>
			        <p>
			        	Kit pédagogique : <span class="texte_important">45 € TTC</span>
			        <p>
			        <p>
			        	Livre de code : <span class="texte_important">15 € TTC</span>
			        <p>
			        <p>
			        	Test et cours de code (abonnement de 6 mois) : <span class="texte_important">250 € TTC</span>
			        <p>
			        <p>
			        	Examen du code : <span class="texte_important">90 € TTC</span>
			        <p>
			        <p>
			        	Examen de conduite : <span class="texte_important">100 € TTC</span>
			        <p>
			        <p>
			        	Pack prépa code (entrainement sur internet) : <span class="texte_important">35 € TTC</span>
			        <p>
				</div>
				<br/>
			  	<br/>
			</div>
		</div>
		
		<!--<div class="tab-pane" id="details">
			<div class="panel panel-body">
				<br/>
				<h2 class="">xxxxxxxxxx</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<p style="text-align: justify;">
				        	xxxxxxxxx
				        <p>
			        </div>
				</div>
			  	<br/><br/>
			</div>
		</div>
		<div class="tab-pane" id="docs">
			<div class="panel panel-body">
				<br/>
				<h2 class="">Documents à fourmir</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-3 col-md-8 decalage_gauche">
						<ul style="">
				        	<li><span> 5 photos d’identité non scannées, avec lunettes si vous en portez</span></li>
				        </ul>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/><br/><br/>
			        <div class="col-md-offset-3 col-md-6 ">
						<img class="img_solo" src="images/Administratif.jpg" alt="Documents Administratif" style="height:200px;">
			        </div>
				</div>
				
			  	<br/><br/>
			</div>
		</div>-->
	</div>
	
</div>