<div class="row">
	<div class="col-md-offset-2 col-md-9 decalage_gauche">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">NOUS CONTACTER</h2>
		  	</div>
			<div class="panel-body">
				<h2 class="" style="">Formulaire de contact</h2>
				
				</br>
				
				Pour toutes demandes d'informations veuillez utilisez notre formulaire de contact :
				
				</br></br>
				
				<form id="form_contact" name="form_contact" method="post" role="form" action="/envoyer_mail">
					<div class="form-group">
						<label class="col-md-offset-3 col-md-6" for="form_contact_nom">Votre Nom :</label>
						</br>
					    <input class="col-md-offset-3 col-md-6 form-input" type="text" name="form_contact_nom" class="form-control" id="form_contact_nom" placeholder="Saisissez votre nom"/>
					</div>
					
					</br></br>
									
					<div class="form-group">
						<label class="col-md-offset-3 col-md-6" for="form_contact_email">Votre eMail :</label>
					    <input class="col-md-offset-3 col-md-6 form-input" type="email" name="form_contact_email" class="form-control" id="form_contact_email" placeholder="Saisissez votre Adresse mail"/>
					</div>
					
					</br></br></br>
					
					<div class="form-group">
						<label class="col-md-offset-3 col-md-6" for="form_contact_sujet">Le Sujet :</label>
					    <input class="col-md-offset-3 col-md-6 form-input" type="text" name="form_contact_sujet" class="form-control" id="form_contact_sujet" placeholder="Saisissez le sujet de votre mail"/>
					</div>
					
					</br></br></br>
					
					<div class="form-group">
						<label class="col-md-offset-3 col-md-6" for="form_contact_message">Votre Message :</label>
					    <textarea class="col-md-offset-3 col-md-6 form-input" name="form_contact_message" rows="4" class="form-control" id="form_contact_message" placeholder="Saisissez le message de votre mail"></textarea>
					</div>
					
					</br></br></br></br></br></br></br>
					
					<button type="submit" class="btn btn-default form-btn">Envoyer le message</button>
					<br/><br/>
				</form>
				
		    </div>
		</div>
	</div>
</div>
</br>