<div class="row">
	<div class="col-md-offset-2 col-md-9 decalage_gauche">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">HORAIRES/CONTACT</h2>
		  	</div>
			<div class="panel-body">
				<div class="col-md-offset-1 col-md-6">
					<h2 class="" style="">Horaires d'ouverture</h2>
					
					</br>
					
	        		Notre auto-école est ouverte :
	        		</br>
	        		<ul style="">
			        	<li>Du Lundi au Vendredi<span> de 9h30 à 13H00 et de 15h00 à 19H00</span></li>
			        	<li>Le Samedi matin<span> de 9h30 à 13h00</span></li>
			        </ul>
			        
	        		</br></br>
					
					Les cours de conduite sont dispensés :
	        		</br>
	        		<ul style="">
			        	<li>Du Lundi au Vendredi<span> de 9h30 à 13H00</span></li>
			        	<li>Le Samedi matin<span> de 9h00 à 13h00 </br><small>pour les personnes ne pouvant malheureusement pas se libérer en semaine</small></span></li>
			        </ul>
			        
	        		</br>
	        		
				</div>
				<div class="col-md-offset-1 col-md-4">
					<h2 class="" style="">Téléphone</h2>
					
					</br>
					
	        		Pour tout renseignement sur nos différentes formations, contactez-nous au :
	        		</br></br>
	        		{{t "tel_cap_conduite"}}
				
					
					</br></br>
					
					<h2 class="" style="">Fax</h2>
					
					</br>
					
		        	(+33)823 124 XXX
					
			    </div>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-9 decalage_gauche">
		<div class="panel panel-default">
			<div class="panel-heading_me">
		    	<h2 class="panel-title">PLAN</h2>
		    </div>
		    <div class="panel-body">
		    	<div class="col-md-8 ">
		    		
		    		<br/>
		    		
		      		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2903.340511442615!2d5.3999482!3d43.3071308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9bf6497db7e85%3A0xad3782c75f5d52f3!2s128+Avenue+des+Chartreux!5e0!3m2!1sfr!2s!4v1403985534767" width="600" height="450" frameborder="0" style="border:0"></iframe>
		      		
		      		<br/>
		      		
					<small>
						<a target="_blank" href="https://www.google.com/maps/place/128+Avenue+des+Chartreux/@43.3071308,5.3999482,17z/data=!3m1!4b1!4m2!3m1!1s0x12c9bf6497db7e85:0xad3782c75f5d52f3">
							Agrandir le plan
						</a>
					</small>
		      	</div>
		      	<div class="col-md-offset-0 col-md-4">
		      		<br/><br/><br/>
	        		<h2 class="titre-paragraphe" style="">Adresse</h2>
	        		
	        		<br/>
	        		
        			<div class="">
						CAP CONDUITE <br/><br/>
						128 rue du Chartreux <br/>
						13004 Marseille <br/>
					</div>
        			
        			<br/><br/>
        			
        			<div class="">
						Métro : {{t "metro_cap_conduite"}} <br/>
						Bus : N°95 <br/>
					</div>

        			<br/><br/>
        			
        			{{t "situer_auto_ecole"}}				
				</div>
			</div>
	
		</div>
	</div>
</div>
</br>