<div class="col-md-offset-0 col-md-8 decalage_gauche">
	<ul class="nav nav-tabs ui-menu ui-widget-content ui-corner-top" role="tablist" id="tarif_tab">
		<li class="active">
			<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
		</li>
		<li>
			<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
		</li>
		<li>
			<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tarif">
			<div class="panel panel-body" id="panel_tab_tarif">
				<div class="row">
					<h2 class=""> Permis BSR </h2>
					<br/>
					<div class="col-md-offset-0 col-md-3">
						<img class="img_solo" src="images/bsr.png" alt="Perfectionnement" style="height:250px; width:350px;">
					</div>
					<br/><br/>
					<div class="col-md-offset-3 col-md-6 ">
						<ul style="">
				        	<li><span> 7 heures de formation : 370 € </span></li>
				        </ul>
					</div>
				</div>
				<br/>
				<br/>
				<div class="row">
			   		<h2 class="">Total : 370 € TTC </h2>
				   	<br/>
				   	
			  	</div>
			  	<br/>
			</div>
		</div>
		
		<div class="tab-pane" id="details">
			<div class="panel panel-body">
				<br/>
				<h2 class=""> L’épreuve pratique </h2>
				<br/>
				<div class="row"><br/>
			  		<div class="col-md-offset-0 col-md-4 "><br/>
						<img class="img_solo" src="images/permis_BSR_01.jpg" alt="Permis BSR" style="height:200px; width:330px;">
			        </div>
			        <div class="col-md-offset-1 col-md-7 ">
					  	<p style="text-align: justify;">
				        	Cette épreuve consiste en une conduite sur la voie publique, sous le contrôle d’un accompagnateur qualifié. 
				        	Elle se matérialise, depuis le 1er janvier 2013, sous la forme d’une formation minimum de 7 heures.
				        <p>
				        <p style="text-align: justify;">
					        L’auto-école fera 2h en salle de sensibilisation pour amener à la compréhension d’apports théoriques essentiels et/ou spécifiques, 
					        à la pratique sécuritaire de la conduite d’une motocyclette
 
							3h de cours sur plateau (hors circulation) consacrée à la maniabilité de la motocyclette
 
							2h en circulation
 
							A l’issue de la formation, l’auto-école délivre une attestation de suivi de formation à la préfecture de Police. 
							Le titulaire de l’attestation ne pourra conduire qu’en possession de son titre délivré par la préfecture de Police.
						<p>
			        </div>
				</div>
			  	<br/><br/>
			</div>
		</div>
		<div class="tab-pane" id="docs">
			<div class="panel panel-body">
				<br/>
				<h2 class="">Documents à fourmir</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-5 col-md-6 decalage_gauche">
						<ul style="">
				        	<li><span> 2 photos d'identité </span></li>
				        	<li><span> ASSR </span></li>
				        	<li><span> CNI </span></li>
				        	<li><span> Autorisation parentale (si mineur) </span></li>
				        </ul>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/><br/><br/>
			        <div class="col-md-offset-3 col-md-6 ">
						<img class="img_solo" src="images/Administratif.jpg" alt="Documents Administratif" style="height:200px;">
			        </div>
				</div>
				
			  	<br/><br/>
			</div>
		</div>
	</div>
	
</div>