<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-xs-8 col-sm-8 col-md-8 col-lg-7">
	<ul class="nav nav-tabs img-background" role="tablist" id="tarif_tab">
		<li class="active">
			<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
		</li>
		<li>
			<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
		</li>
		<li>
			<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tarif">
			<div class="panel panel-body" id="panel_tab_tarif">
			<br/>
				<div class="row">
					<h2 class="">Permis B</h2>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<img class="img_solo" src="images/clio4noiretoile.jpg" alt="Voiture Cap Conduite">
					</div>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-12 col-md-5 col-lg-5">
						Enseignement sur véhicule école Renault Clio 4
						<br/><br/>
						<ul style="">
							<li><span> Abonnement 6 mois accès illimité toute la journée </span></li>
							<li><span> Frais d'inscription </span></li>
				        	<li><span> Kit pédagogique (boitier DIGI-QUIZ nominatif)</span></li>
				        	<li><span> 20 heures de conduite* </span></li>
				        	<li><span> 1 présentation examen final de conduite </span></li>
				        </ul>
					</div>
				</div>
				<br/>
				<br/>
				<div class="row">
			   		<h2 class="">Total : 990 € TTC </h2>
				   	<br/>
				  	Heure d’évaluation : 30 €<br/>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-9">
						<ul style="">
				        	<li><span> Leçon de conduite supplémentaire (*1h30) : 59 € TTC </span></li>
				        	<li><span> Présentation supplémentaire conduite : 100 € TTC </span></li>
				        	<li><span> Présentation supplémentaire code : 90 € TTC </span></li>
				        	<li><span> Pack prépa code (entrainement sur internet) : 35 € TTC </span></li>
				        </ul>
					</div>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br/>
						Les forfaits ont une validité d’un an, hormis le code, 6 mois à renouveler si dépassement.
					</div>
			  	</div>
			  	<br/><br/>
			</div>
		</div>
		
		<div class="tab-pane" id="details">
			<div class="panel panel-body">
				<br/>
				<h2 class="">L'Epreuve Théorique Générale ETG</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
				        	La formation au code général est obligatoire si : La partie théorique ou code peut être passée à partir de 17 ans et demi. 
				        	L’examen a lieu dans un centre regroupant les candidats d’un secteur. Durant l’épreuve chaque candidat est soumis à une série de 
				        	40 questions à choix multiples diffusées sous la forme d’un diaporama. Le déroulement de l’épreuve s’effectue sous la surveillance d’un examinateur. 
				        	Chaque question met en situation le candidat sur une problématique pouvant être rencontrée sur la route. 
				        	Pour y répondre, vous disposez d’un boitier électronique composé d’un écran et de 6 touches (validation, correction, A, B, C et D).
				        	 L’obtention de l’examen a lieu si vous ne faites pas plus de 5 erreurs. Le résultat, vous est donné à la fin de l’épreuve, directement sur place. 
				        	 Une fois la pratique obtenue, vous avez 3 ans pour passer l’épreuve pratique à partir de la date d’obtention pour 5 présentations à l’examen.
				        	  Si une de ces deux conditions devait être dépassée, il vous faudrait repasser l’examen pratique.
				        <p>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/>
			  		<h2 class="">L'examen de conduite </h2>
			  		<br/>
			  		<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-3 col-lg-3"><br/>
						<img class="img_solo" src="images/permis.jpg" alt="Permis de Conduire">
			        </div>
			        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2 col-xs-12 col-sm-12 col-md-6 col-lg-7" style="text-align: justify;">
					  	L’auto-école vous fournit une date d’examen, une fois que votre moniteur vous juge apte. 
					  	Cette épreuve pratique dure 35 minutes au total, durant laquelle vous aurez à conduire pendant au moins 25 minutes. 
					  	Cette épreuve se divise en 3 :
					  	<br/><br/>
					  	<ul style="">
				        	<li><span> Le bilan de compétences </span></li>
				        	<li><span> Les tests réalisés au cours de l’épreuve </span></li>
				        	<li><span> L’issue de l’épreuve </span></li>
				        </ul>
			        </div>
				</div>
			  	<br/><br/>
			</div>
		</div>
		<div class="tab-pane" id="docs">
			<div class="panel panel-body">
				<br/>
				<h2 class="">Documents à fourmir</h2>
				<br/>
				<div class="row">
					<div class="col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5 col-xs-12 col-sm-8 col-md-6 col-lg-6 decalage_gauche">
						<ul style="">
				        	<li><span> 2 photos d’identité </span></li>
				        	<li><span> Copie du CNI (recto/verso)</span></li>
				        	<li><span> Copie du CNI parents (si mineur)</span></li>
				        	<li><span> Recensement (dès 16 ans) </span></li>
				        	<li><span> JAPD (dès 18 ans) </span></li>
				        	<li><span> ASSR ( si né après 1988) </span></li>
				        	<li><span> 3 Enveloppes timbrées classiques </span></li>
				        	<li><span> 3 Enveloppe timbrées format A4 </span></li>
				        </ul>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/><br/><br/>
			        <div class="col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<img class="img_solo" src="images/Administratif.jpg" alt="Documents Administratif" style="height:200px;">
			        </div>
				</div>
				
			  	<br/><br/>
			</div>
		</div>
	</div>
	
</div>