<div class="row ">
	<div class="col-md-offset-1 col-md-3 decalage_gauche">
		<div class="panel panel-body">
		<br/>
			<h2 class="">Nous Contacter</h2><br/>
			<span class="texte_semi_important"> Téléphone : </span><br/>
			{{t 'tel_cap_conduite'}}<br/>
			<br/>
			<span class="texte_semi_important"> Mobile : </span><br/>
			{{t 'mob_cap_conduite'}}<br/>
			
			<br/><br/><br/><br/>
			
		   	<h2 class="">Horaires de <br/> réservation</h2><br/>
		  	<ul style="">
	        	<li>Du Lundi au Vendredi<span> de 10h00 à 13h00 et de 15h00 à 19h00</span></li>
	        	<li>Le Samedi matin<span> de 10h00 à 13h00</span></li>
	        </ul>
		  	
		  	<br/><br/><br/>
		  	
		    <h2 class="">Où nous trouver ?</h2><br/>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.3405114426228!2d5.399948199999988!3d43.30713079999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9bf6497db7e85%3A0xad3782c75f5d52f3!2s128+Avenue+des+Chartreux!5e0!3m2!1sfr!2sfr!4v1404164817924" width="250" height="300" frameborder="0" style="border:0"></iframe>
			
			<br/><br/><br/>
		</div>
	</div>
	
	<div class="col-md-offset-0 col-md-8 decalage_gauche">
		<ul class="nav nav-tabs ui-menu ui-widget-content ui-corner-top" role="tablist" id="tarif_tab">
			<li class="active">
				<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
			</li>
			<li>
				<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
			</li>
			<li>
				<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="tarif">
				<div class="panel panel-body" id="panel_tab_tarif">
				<br/>
					<div class="row">
						<h2 class="">Permis AAC</h2>
						<br/>
						<div class="col-md-offset-0 col-md-3">
							<img class="img_solo" src="images/AAC.jpg" alt="Conduite Accompagnée" style="height:250px; width:350px;">
						</div>
						
						<div class="col-md-offset-3 col-md-6 ">
							Enseignement sur véhicule école Renault Clio 4
							<br/><br/>
							<ul style="">
					        	<li><span> Abonnement 6 mois accès illimité toute la journée </span></li>
								<li><span> Frais d'inscription </span></li>
					        	<li><span> Kit pédagogique (boitier DIGI-QUIZ nominatif)</span></li>
					        	<li><span> 20 heures de conduite* </span></li>
					        	<li><span> 2 rendez-vous pédagogiques </span></li>
					        	<li><span> 1 présentation examen final de conduite </span></li>
					        </ul>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row">
				   		<h2 class="">Total : 1110 € TTC </h2>
					   	<br/>
					  	Heure d’évaluation : 30 € <br/>
						<br/>
						<div class="col-md-offset-2 col-md-8">
							<ul style="">
					        	<li><span> Leçon de conduite supplémentaire (*1h30) : 59 € TTC </span></li>
					        	<li><span> Présentation supplémentaire conduite : 100 € TTC </span></li>
					        	<li><span> Présentation supplémentaire code : 90 € TTC </span></li>
					        	<li><span> Pack prépa code (entrainement sur internet) : 35 € TTC </span></li>
					        </ul>
						</div>
						<br/>
						<div class="col-md-offset-1 col-md-10">
						<br/>
							Les forfaits ont une validité d’un an, hormis le code, 6 mois à renouveler si dépassement.
						</div>
				  	</div>
				  	<br/><br/>
				</div>
			</div>
			
			<div class="tab-pane" id="details">
				<div class="panel panel-body">
					<br/>
					<h2 class="">L'Epreuve Théorique Générale ETG</h2>
					<br/>
					<div class="row">
						<div class="col-md-offset-0 col-md-12">
							<p style="text-align: justify;">
					        	La partie théorique ou code peut être passée à partir de 16 ans. 
					        	L’examen a lieu dans un centre regroupant les candidats d’un secteur. Chaque question met en situation le candidat 
					        	sur une problématique pouvant être rencontrée sur la route.
								L’obtention de l’examen a lieu si vous ne faites pas plus de 5 erreurs. Le résultat, vous est donné à la fin de l’épreuve, directement sur place.
					        <p>
				        </div>
					</div>
				  	
				  	<div class="row"><br/><br/>
				  		<h2 class=""> La partie pratique </h2>
				  		<br/>
				  		<div class="col-md-offset-0 col-md-4 ">
							<img class="img_solo" src="images/permis_aac_02.jpg" alt="Permis de Conduire" style="height:200px; width:230px;">
				        </div>
				        <div class="col-md-offset-0 col-md-8 ">
						  	<p style="text-align: justify;">
					        	Le deuxième volet de la formation est constitué de 20 heures de conduite au minimum avec un des moniteurs de l’auto-école. 
					        	Une fois que le moniteur juge apte le candidat, un premier « rendez-vous pédagogique » est fixé entre l’élève, le moniteur et un accompagnateur 
					        	pour un cours de conduite. A l’issue de ce rendez-vous pédagogique, l’élève peut commencer à conduire 
					        	avec son accompagnateur en-dehors des heures de cours de conduite et il lui est remis une attestation de fin de 
					        	formation initiale destiné à l’assurance.
					        <p>
				        </div>
					</div>
					
					<div class="row"><br/><br/>
				  		<h2 class=""> La Conduite Accompagnée </h2>
				  		<br/>
						<div class="col-md-offset-0 col-md-12">
							<p style="text-align: justify;">
					        	L’élève doit rouler au moins 3000 kilomètres sur une période d’une durée indéterminée avec un disque 
					        	« conduite accompagnée » figurant à l’arrière de son véhicule. En cas de contrôle de police, 
					        	l’élève devra avoir avec lui son livret d’apprentissage.
								Un deuxième rendez-vous pédagogique de la conduite accompagnée intervient au bout de 6-8 mois de 
								conduite accompagnée et 1000 kilomètres parcourus avec l’accompagnateur.
								Un troisième rendez-vous pédagogique de la conduite accompagnée intervient lorsque l’élève a parcouru au moins 3000 kilomètres.
								Une fois les 3000 kilomètres effectués et l’âge minimum atteint (18 ans), l’élève peut se présenter à l’examen du permis B.
					        <p>
				        </div>
					</div>
				  	<br/><br/>
				</div>
			</div>
			<div class="tab-pane" id="docs">
				<div class="panel panel-body">
					<br/>
					<h2 class="">Documents à fourmir</h2>
					<br/>
					<div class="row">
						<div class="col-md-offset-4 col-md-7 decalage_gauche">
							<ul style="">
					        	<li><span> 2 photos d’identité </span></li>
					        	<li><span> Copie du CNI (recto/verso)</span></li>
					        	<li><span> Copie du CNI parents (si mineur)</span></li>
					        	<li><span> Recensement (dès 16 ans) </span></li>
					        	<li><span> JAPD (dès 18 ans) </span></li>
					        	<li><span> ASSR ( si né après 1988) </span></li>
					        	<li><span> 3 Enveloppes timbrées classique </span></li>
					        	<li><span> 3 Enveloppe timbrées format A4 </span></li>
					        </ul>
				        </div>
					</div>
				  	
				  	<div class="row"><br/><br/><br/><br/>
				        <div class="col-md-offset-3 col-md-6 ">
							<img class="img_solo" src="images/Administratif.jpg" alt="Documents Administratif" style="height:200px;">
				        </div>
					</div>
					
				  	<br/><br/>
				</div>
			</div>
		</div>
		
	</div>
</div>
<br/>