<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-1 col-xs-10 col-sm-10 col-md-8 col-lg-7">
	<ul class="nav nav-tabs img-background" role="tablist" id="tarif_tab">
		<li class="active">
			<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
		</li>
		<li>
			<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
		</li>
		<li>
			<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tarif">
			<div class="panel panel-body" id="panel_tab_tarif">
			<br/>
				<div class="row">
					<h2 class="">Permis AAC</h2>
					<br/>
					<div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-0 col-lg-offset-0 col-xs-5 col-sm-5 col-md-4 col-lg-4">
						<img class="img_solo" src="images/AAC_opt.jpg" alt="Conduite Accompagnée" style="height:125%; width:125%;">
					</div>
					
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-7 col-lg-7">
						Enseignement sur véhicule école Renault Clio 4
						<br/><br/>
						<ul style="">
				        	<li><span> Abonnement 6 mois accès illimité toute la journée </span></li>
							<li><span> Frais d'inscription </span></li>
				        	<li><span> Kit pédagogique (boitier DIGI-QUIZ nominatif)</span></li>
				        	<li><span> 20 heures de conduite* </span></li>
				        	<li><span> 2 rendez-vous pédagogiques </span></li>
				        	<li><span> 1 présentation examen final de conduite </span></li>
				        </ul>
					</div>
				</div>
				<br/>
				<br/>
				<div class="row">
			   		<h2 class="">Total : 1110 € TTC </h2>
				   	<br/>
				  	Heure d’évaluation : 30 € <br/>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-9">
						<ul style="">
				        	<li><span> Leçon de conduite supplémentaire (*1h30) : 59 € TTC </span></li>
				        	<li><span> Présentation supplémentaire conduite : 100 € TTC </span></li>
				        	<li><span> Présentation supplémentaire code : 90 € TTC </span></li>
				        	<li><span> Pack prépa code (entrainement sur internet) : 35 € TTC </span></li>
				        </ul>
					</div>
					<br/>
					<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br/>
						Les forfaits ont une validité d’un an, hormis le code, 6 mois à renouveler si dépassement.
					</div>
			  	</div>
			  	<br/><br/>
			</div>
		</div>
		
		<div class="tab-pane" id="details">
			<div class="panel panel-body">
				<br/>
				<h2 class="">L'Epreuve Théorique Générale ETG</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
				        	La partie théorique ou code peut être passée à partir de 16 ans. 
				        	L’examen a lieu dans un centre regroupant les candidats d’un secteur. Chaque question met en situation le candidat 
				        	sur une problématique pouvant être rencontrée sur la route.
							L’obtention de l’examen a lieu si vous ne faites pas plus de 5 erreurs. Le résultat, vous est donné à la fin de l’épreuve, directement sur place.
				        <p>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/>
			  		<h2 class=""> La partie pratique </h2>
			  		<br/>
			  		<div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-0 col-lg-offset-0 col-xs-4 col-sm-4 col-md-3 col-lg-3">
						<img class="img_solo" src="images/permis_aac_02_opt.jpg" alt="Permis de Conduire" style="height:100%; width:100%;">
			        </div>
			        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-8 col-lg-9">
					  	<p style="text-align: justify;">
				        	Le deuxième volet de la formation est constitué de 20 heures de conduite au minimum avec un des moniteurs de l’auto-école. 
				        	Une fois que le moniteur juge apte le candidat, un premier « rendez-vous pédagogique » est fixé entre l’élève, le moniteur et un accompagnateur 
				        	pour un cours de conduite. A l’issue de ce rendez-vous pédagogique, l’élève peut commencer à conduire 
				        	avec son accompagnateur en-dehors des heures de cours de conduite et il lui est remis une attestation de fin de 
				        	formation initiale destiné à l’assurance.
				        <p>
			        </div>
				</div>
				
				<div class="row"><br/><br/>
			  		<h2 class=""> La Conduite Accompagnée </h2>
			  		<br/>
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
				        	L’élève doit rouler au moins 3000 kilomètres sur une période d’une durée indéterminée avec un disque 
				        	« conduite accompagnée » figurant à l’arrière de son véhicule. En cas de contrôle de police, 
				        	l’élève devra avoir avec lui son livret d’apprentissage.
							Un deuxième rendez-vous pédagogique de la conduite accompagnée intervient au bout de 6-8 mois de 
							conduite accompagnée et 1000 kilomètres parcourus avec l’accompagnateur.
							Un troisième rendez-vous pédagogique de la conduite accompagnée intervient lorsque l’élève a parcouru au moins 3000 kilomètres.
							Une fois les 3000 kilomètres effectués et l’âge minimum atteint (18 ans), l’élève peut se présenter à l’examen du permis B.
				        <p>
			        </div>
				</div>
			  	<br/><br/>
			</div>
		</div>
		<div class="tab-pane" id="docs">
			<div class="panel panel-body">
				<br/>
				<h2 class="">Documents à fourmir</h2>
				<br/>
				<div class="row">
					<div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-xs-10 col-sm-8 col-md-8 col-lg-8">
						<ul style="">
				        	<li><span> 2 photos d’identité </span></li>
				        	<li><span> Copie du CNI (recto/verso)</span></li>
				        	<li><span> Copie du CNI parents (si mineur)</span></li>
				        	<li><span> Recensement (dès 16 ans) </span></li>
				        	<li><span> JAPD (dès 18 ans) </span></li>
				        	<li><span> ASSR ( si né après 1988) </span></li>
				        	<li><span> 3 Enveloppes timbrées classiques </span></li>
				        	<li><span> 3 Enveloppes timbrées format A4 </span></li>
				        </ul>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/><br/><br/>
			        <div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-xs-8 col-sm-6 col-md-6 col-lg-4">
						<img class="img_solo" src="images/Administratif_opt.jpg" alt="Documents Administratif" style="height:100%; width:100%;">
			        </div>
				</div>
				
			  	<br/><br/>
			</div>
		</div>
	</div>
	
</div>