<div class="row ">
	<div class="col-md-offset-2 col-md-2 decalage_gauche">
		<div class="panel panel-body">
		</br>
			<h2 class="">Nous Contacter</h2></br>
			{{t 'tel_cap_conduite'}}
			
			</br></br></br></br>
			
		   	<h2 class="">Horaires de </br> réservation</h2></br>
		  	<ul style="">
	        	<li>Du Lundi au Vendredi<span> de 9h30 à 13H00 et de 15h00 à 19H00</span></li>
	        	<li>Le Samedi matin<span> de 9h30 à 13h00</span></li>
	        </ul>
		  	
		  	</br></br></br>
		  	
		    <h2 class="">Ou nous trouver ?</h2></br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.3405114426228!2d5.399948199999988!3d43.30713079999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9bf6497db7e85%3A0xad3782c75f5d52f3!2s128+Avenue+des+Chartreux!5e0!3m2!1sfr!2sfr!4v1404164817924" width="250" height="300" frameborder="0" style="border:0"></iframe>
			
			</br></br></br>
		</div>
	</div>
	
	<div class="col-md-offset-0 col-md-7 decalage_gauche">
		<ul class="nav nav-tabs" role="tablist" id="tarif_tab">
			<li class="active">
				<a href="#tarif" data-toggle="tab"><h2> Tarif </h2></a>
			</li>
			<li>
				<a href="#details" data-toggle="tab"><h2> Détails de l'épreuve </h2></a>
			</li>
			<li>
				<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="tarif">
				<div class="panel panel-body">
					</br>
					<h2 class="">Permis B</h2>
					</br>
					Enseignement sur véhicule école Renault Clio 4
					<ul style="">
			        	<li><span> Forfait code tests illimités (validité 6 mois) </span></li>
			        	<li><span> 3 examens blancs de code </span></li>
			        	<li><span> 1 présentation examen théorique </span></li>
			        	<li><span> 20 heures de conduite* </span></li>
			        	<li><span> 1 présentation examen pratique </span></li>
			        	<li><span> 1 livre de code de la route </span></li>
			        	<li><span> 1 livre interrogation examen pratique </span></li>
			        </ul>
					
					</br></br>
						
				   	<h2 class="">Total : 1260 € TTC </h2></br><br/>
				   	
				  	Heure d’évaluation : 55€ (offerte si inscription sous 8 jours) <br/>
					<br/>
					<ul style="">
			        	<li><span> Heure de conduite supplémentaire : 55€ TTC (*1 h leçon =55 min) </span></li>
			        	<li><span> Présentation supplémentaire code ou conduite : 245€ TTC </span></li>
			        	<li><span> Pack Web : 40€ TTC </span></li>
			        	<li><span> Reprise de dossier : 265€ TTC </span></li>
			        </ul>
			        <br/>
					Les forfaits ont une validité d’un an, hormis le code, 6 mois à renouveler si dépassement.
				  	
				  	</br></br>
				</div>
			</div>
			
			<div class="tab-pane" id="details">
				<div class="panel panel-body">
					</br>
					<h2 class="">L'épreuve théorique générale ETG</h2>
					</br>
					
					<p>
			        	La formation au code général est obligatoire si : La partie théorique ou code peut être passée à partir de 17 ans et demi. 
			        	L’examen a lieu dans un centre regroupant les candidats d’un secteur. Durant l’épreuve chaque candidat est soumis à une série de 
			        	40 questions à choix multiples diffusées sous la forme d’un diaporama. Le déroulement de l’épreuve s’effectue sous la surveillance d’un examinateur. 
			        	Chaque question met en situation le candidat sur une problématique pouvant être rencontrée sur la route. 
			        	Pour y répondre, vous disposez d’un boitier électronique composé d’un écran et de 6 touches (validation, correction, A, B, C et D)
			        	 L’obtention de l’examen a lieu si vous ne faites pas plus de 5 erreurs. Le résultat, vous est donné à la fin de l’épreuve, directement sur place. 
			        	 Une fois la pratique obtenue, vous avez 3 ans pour passer l’épreuve pratique à partir de la date d’obtention pour 5 présentations à l’examen.
			        	  Si une de ces deux conditions devait être dépassée, il vous faudrait repasser l’examen pratique.
			        <p>
					
					</br></br>
						
				   	<h2 class="">Examen de conduite </h2></br>
				   	
				  	L’auto-école vous fournit une date d’examen, une fois que votre moniteur vous juge apte. 
				  	Cette épreuve pratique dure 35 minutes au total, durant laquelle vous aurez à conduire pendant au moins 25 minutes. 
				  	Cette épreuve se divise en 3 :
				  	
				  	<ul style="">
			        	<li><span> Le bilan de compétences </span></li>
			        	<li><span> Les tests réalisés au cours de l’épreuve </span></li>
			        	<li><span> L’issue de l’épreuve </span></li>
			        </ul>
			        
				  	</br></br>
				</div>
			</div>
			<div class="tab-pane" id="docs">
				<div class="panel panel-body">
					</br>
					<h2 class="">Documents a fourmir</h2>
					</br>
					
					<ul style="">
			        	<li><span> 5 photos d’identité </span></li>
			        	<li><span> CNI </span></li>
			        	<li><span> Justificatif de domicile </span></li>
			        	<li><span> Permis A ( si détenteur) </span></li>
			        	<li><span> JAPD (si moins de 25 ans) </span></li>
			        	<li><span> ASSR 2 ( si né après 1988) </span></li>
			        	<li><span> 4 Enveloppes Timbrées </span></li>
			        	<li><span> 2 Enveloppe A5 Timbrées </span></li>
			        </ul>
					
					</br></br>
						
				   	<img src="images/Administratif.jpg" alt="Voiture Cap Conduite" style="height:200px;">
				  	
				  	</br></br>
				</div>
			</div>
		</div>
		
	</div>
</div>
</br>