<div class="col-md-offset-0 col-md-8 decalage_gauche">
	<ul class="nav nav-tabs ui-menu ui-widget-content ui-corner-top" role="tablist" id="tarif_tab">
		<li class="active">
			<a href="#tarif" data-toggle="tab"><h2> Tarifs </h2></a>
		</li>
		<li>
			<a href="#details" data-toggle="tab"><h2> Détails du stage </h2></a>
		</li>
		<li>
			<a href="#docs" data-toggle="tab"><h2> Administratif </h2></a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tarif">
			<div class="panel panel-body" id="panel_tab_tarif">
			<br/>
				<div class="row">
					<h2 class=""> Récupération de Points </h2>
					<br/>
					<div class="col-md-offset-0 col-md-3">
						<img class="img_solo" src="images/rattrapage_01.jpg" alt="Récupération de points" style="height:250px; width:350px;">
					</div>
					<div class="col-md-offset-3 col-md-6 ">
						<br/><br/>
						<ul style="">
				        	<li><span> Stage formation de 16 heures </span></li>
				        	<li><span> Dirigé par des professionnels de la sécurité routière </span></li>
				        </ul>
					</div>
				</div>
				<br/>
				<br/>
				<div class="row">
			   		<h2 class="">Total : 240 € TTC <br/><small> 190 € en chèque obligatoirement et 50 € en chèque ou espèce </small></h2>
			  	</div>
			  	<br/><br/>
			</div>
		</div>
		
		<div class="tab-pane" id="details">
			<div class="panel panel-body">
				<br/>
				<div class="row">
					<h2 class=""> Le stage de Récupération de Points </h2>
			  		<br/>
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
							Un stage de Récupération de Points vous permet de récupérer 4 points sur votre permis de conduire. Ce stage
				        	est animé par 2 professionnels de la sécurité routière et se déroule sur 2 jours consécutifs dans la ville de votre choix.
				        	La simple participation à l'ensemble de la formation (16 heures) donne automatiquement droit à la mise à jour de 4 points supplémentaires sur 
				        	votre capital points de votre permis de conduire.
				        <p>
			        </div>
				</div>
				
				<br/><br/>
				
				<div class="row">
					<h2 class=""> Le stage volontaire </h2>
			  		<br/>
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
				        	Ce stage est suivi à l’initiative personnelle du conducteur. En effet, tout conducteur ayant commis une infraction 
				        	sanctionnée par un retrait de points peut effectuer un stage de récupération de points.
							Le stage lui permet alors de récupérer jusqu’à 4 points sur son permis de conduire, dans la limite des 12 points (6 points en période probatoire).
				        <p>
			        </div>
				</div>
				
				<br/><br/>
				
				<div class="row">
					<h2 class=""> Le stage obligatoire </h2>
			  		<br/>
					<div class="col-md-offset-0 col-md-12">
						<p style="text-align: justify;">
				        	Ce stage concerne tout conducteur qui, en période probatoire, a commis une infraction sanctionnée par un retrait de 3 ou 4 points. 
				        	Le conducteur est alors dans l’obligation de suivre un stage de sensibilisation à la sécurité routière dans un 
				        	délai de 4 mois à compter de la réception de la lettre recommandé avec accusé de réception (48 N) qui le notifie du retrait de points.
							En fin de stage, le centre de formation agréé vous délivre une attestation de suivi de stage et un document 
							de demande de remboursement de l’amende auprès du trésor public. Vous récupérez alors jusqu’à 4 points sur votre permis de 
							conduire (dans la limite des 6 points maximum du permis probatoire).
							Si dans une période de 2 ans après avoir suivi un stage obligatoire, vous êtes dans l’obligation d’en suivre un à nouveau, 
							l’amende vous sera remboursée mais vous ne pourrez pas récupérer de points. 
							Afin de vous aider et vous conseiller sur cette législation complexe, prenez conseil auprès d’un professionnel de la sécurité 
							routière ; nos équipes sont donc à votre disposition afin de vous fournir tout renseignement utile.
				        <p>
			        </div>
				</div>
			  	<br/><br/>
			</div>
		</div>
		<div class="tab-pane" id="docs">
			<div class="panel panel-body">
				<br/>
				<h2 class="">Documents à fourmir</h2>
				<br/>
				<div class="row">
					<div class="col-md-offset-4 col-md-7 decalage_gauche">
						<ul style="">
				        	<li><span> Copie du permis B </span></li>
				        	<li><span> Lettre Réf 48N (si possible) </span></li>
				        	<li><span> Numéro de téléphone portable </span></li>
				        </ul>
			        </div>
				</div>
			  	
			  	<div class="row"><br/><br/><br/><br/>
			        <div class="col-md-offset-3 col-md-6 ">
						<img class="img_solo" src="images/Administratif.jpg" alt="Documents Administratif" style="height:200px;">
			        </div>
				</div>
				
			  	<br/><br/>
			</div>
		</div>
	</div>
	
</div>