<div class="loc_gauche">
	<h3>Horaires d'ouverture</h3>
	<div class="horaire">
		9h30 -> 13h00 / 15h00 -> 19h00
	</div>
	<div class="horaire" style="margin-top: 5px;">
		Samedi de 9h30 -> 13h00
	</div>
		COURS AVEC MONITEUR  
	 	 
		9h30 -> 13h00
	<h3>Plan</h3>
	<div class="plan">
		<iframe class="iframe" width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=d&amp;source=embed&amp;saddr=Gardanne&amp;daddr=5+Avenue+du+Prado,+Marseille&amp;hl=fr&amp;geocode=FTYOlwId8XRTACkNQpIpe5HJEjEAA5f9pRkIBA%3BFVlulAIdZDBSACk381HdrMDJEjGvmjYlPQR-tw&amp;mra=ltm&amp;dirflg=w&amp;doflg=ptk&amp;sll=43.281868,5.386396&amp;sspn=0.001232,0.00284&amp;ie=UTF8&amp;ll=43.282204,5.386305&amp;spn=0.009216,0.045447&amp;z=15&amp;lci=com.google.webcams&amp;layer=c&amp;cbll=43.282163,5.386233&amp;panoid=cPhPmROyH60VubaKkx4h9g&amp;cbp=11,156.4,,0,5&amp;output=svembed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=d&amp;source=embed&amp;saddr=Gardanne&amp;daddr=5+Avenue+du+Prado,+Marseille&amp;hl=fr&amp;geocode=FTYOlwId8XRTACkNQpIpe5HJEjEAA5f9pRkIBA%3BFVlulAIdZDBSACk381HdrMDJEjGvmjYlPQR-tw&amp;mra=ltm&amp;dirflg=w&amp;doflg=ptk&amp;sll=43.281868,5.386396&amp;sspn=0.001232,0.00284&amp;ie=UTF8&amp;ll=43.282204,5.386305&amp;spn=0.009216,0.045447&amp;z=15&amp;lci=com.google.webcams&amp;layer=c&amp;cbll=43.282163,5.386233&amp;panoid=cPhPmROyH60VubaKkx4h9g&amp;cbp=11,156.4,,0,5" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
	</div>
</div>

<div class="loc_droite">
	<h3>Adresse :</h3>
	<div class="adresse">
		Cap Conduite <br/><br/>
		128 rue du Chartreux <br/>
		13000 Marseille <br/>
		FRANCE
	</div>
	<br/>
	<h3>Téléphone :</h3>
	<div class="tel">
		(+33)823 124 XXX
	</div>
	<h3>Fax :</h3>
	<div class="fax">
		(+33)823 124 XXX
	</div>
</div>